.subunit.SCT {
    fill: #ddc;

}

.subunit.WLS {
    fill: #cdd;

}

.subunit.NIR {
    fill: #cdc;

}

.subunit.ENG {
    fill: #dcd;

}

.subunit.IMN {
    fill: #D5C9C1;

}

.subunit.IRL {
    display: none;

}

.subunit-boundary.IRL {
    stroke: #aaa;
}

.background {
    fill: #7BC9D8;
    pointer-events: all;
}

.fieldsSelectionBox {
    fill: white;
    pointer-events: all;
    stroke: black;
}

.backgroundSelectionBox {
    fill: #DCD6D6;
    pointer-events: all;
    stroke: black;
}

.feature {
    fill: #ccc;
    cursor: pointer;
}

.subunit.active {
    fill: #70593B;
    stroke: black;

}

.mesh {
    fill: none;
    stroke: #777;
    stroke-dasharray: 2, 2;
    stroke-linejoin: round;

}

.town_icon:hover{
    fill-opacity:0.8;
    opacity: 0.5;

}
